form {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    background-color: blue;
    color: antiquewhite;
}

label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

input,
textarea,
button,
select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: gray;
}

#Sympotoms {
    height: 150px;
    text-align: top;
}

button {
    cursor: pointer;
    color: black;
}

button:hover {
    background-color: lightgreen;
    color: black;
}

@media screen and (max-width: 1024px) {
    form {
        max-width: 95%;
        height: auto;
    }
}